// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bought{
  background-color: #ffb3b3;
}

.even{
  background-color: lightgray;
}

.odd{
  background-color: white;
}